# GUI Framework
PyQt6>=6.7.0
PyQt6-Qt6>=6.7.0
PyQt6-sip>=13.6.0

# Gráficos
pyqtgraph>=0.13.3

# Variables de entorno
python-dotenv>=1.0.0

# Testing
pytest>=8.0.0
pytest-qt>=4.2.0
pytest-cov>=4.1.0

# Quality & Metrics
radon>=6.0.1
pylint>=3.0.0
