[MASTER]
# Extensiones para cargar
extension-pkg-allow-list=PyQt6

[MESSAGES CONTROL]
# Deshabilitar falsos positivos de PyQt6
disable=no-name-in-module

[DESIGN]
# Permitir mas atributos en widgets UI
max-attributes=15
